<!DOCTYPE html>
<html>
  <head>
    <title>Gymtoy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="danger"><%= flash[:error] %></p>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.email.downcase.include? 'gympass.com' %>
        <%= link_to 'Register Gym', new_user_gym_path(current_user) %>
      <% elsif current_user.gym_manager? %>
        <%= link_to 'Register Gym', new_user_gym_path(current_user) %>
      <% end %>
      <%= link_to 'Gyms', gyms_path %>
      <%= link_to 'Edit User', edit_user_registration_path %>
      <%= link_to 'Sign Out', destroy_user_session_path %>
    <% else %>
      <%= link_to 'Create User', new_user_registration_path %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
